* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(228, 230, 235);
}

/* navigation section */
#navigation {
    /* border: 2px solid red; */
    height: 13vh;
    display: flex;
    position: sticky;
    top: 0%;
}

#navigation::before {
    content: "";
    background-color: rgb(52, 52, 52);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

#logo {
    /* border: 2px solid green; */
    width: 7vw;
}

#logo img {
    padding: 10px 17.5px;
}

#navbar {
    /* border: 2px solid greenyellow; */
    width: 490px;
}

#navbar ul {
    display: flex;
}

#left_navbar {
    /* border: 2px solid saddlebrown; */
    width: 490px;
    position: sticky;
    left: 100%;
}

#left_navbar ul {
    display: flex;
    float: right;
}

/* form Input Section  */
#input {
    /* border: 2px solid black; */
    padding: 20px 100px;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input::before {
    content: "";
    background: url(background.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 83.5vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.89;
}

#input h1 {
    color: white;
}

#input p {
    color: white;
}

#input form {
    display: flex;
    padding-top: 8px;
}

input[type='text'] {
    padding: 12px;
    width: 300px;
    font-size: 0.8rem;
    color: black;
}

#search_icon {
    background-color: rgb(237, 212, 19);
    width: 60px;
    height: 41px;
}

#search_icon img {
    padding: 11px 20px;
    filter: invert(100%);
}

/*Navigation utility class =  List , Anchor tag */
#navigation li {
    list-style: none;
    padding: 26px 20px;
}

#navigation ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    border-radius: 7px;
    cursor: pointer;
}

#navigation ul li a:hover {
    color: white;
    text-decoration: underline;
}

/* section form ultility class = h1 , p  */
.heading_1 {
    font-size: 3rem;
}

.para_1 {
    font-size: 1.7rem;
}

/* creating Gallery  templates through grid  */
#gallary_container {
    /* border: 2px solid green; */
    background-color: white;
    margin-top: 10px;
    height: 730px;
}

#categories {
    /* border: 2px solid black; */
    background-color: white;
    box-shadow: 2px 5px 13px -5px black;
    height: 80px;
}

#categories p {
    font-size: 1.4rem;
    padding: 27px 125px;
}

/* grid templates */
#template {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 1.8rem;
    margin-top: 40px;
    padding-bottom: 33px;
    justify-content: center;
    align-items: center;
}

.grid {
    border: 2px solid black;
    height: 160px;
    box-shadow: 2px 2px 14px -1px black;
}

/* Purchasing Art section  */
#purchasing_container{
    /* border: 2px solid black; */
    height: 850px;
}
#purchase_heading{
    /* border: 2px solid red; */
    height: 75px;
    display: flex;
    align-items: center;
}
#purchase_heading h3{
    /* border: 2px solid green; */
    margin-left: 15.5%;
    font-size: 1.5rem;
}
#purchase_heading h5{
    /* border: 2px solid green; */
    position: sticky;
    left: 72%;
    font-size: 1rem;
}
#purchase_image{
    /* border: 2px solid rgb(85, 0, 14); */
    display: grid;
    grid-template-columns: repeat(4, 210px);
    grid-gap: 1.8rem;
    justify-content: center;
    align-items: center;
}
.purchase_box{
    border:  1px solid rgb(200, 200, 200);
    background-color: white;
    box-shadow: 0px 0px 8px -1px black;
    height: 320px;
    margin-top: 5px;
    /* padding: 5px; */
}
.purchase_box .img{
    /* border: 2px solid green; */
    height: 190px;
    width: 170px;
    margin: 0px 16px;
    margin-top: 11px;
    /* padding: 3px; */
}
/* purchasing box container = img , p1,p2,p3 */
.para_2{
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.para_2 .p1{
    padding-top: 8px;
    font-size: 0.9rem;
}
.para_2 .p2{
    font-size: 0.8rem;
    padding-top: 6px ;
}
.para_2 .p3{
    font-size: 0.7rem;
    padding-top: 6px;
}

/* purchasing box container = price rating , price_icon */
.price{
    border-top: 1px solid rgb(4, 4, 4);
    display: flex;
    margin-top: 16px ;
    height: 30px;
    align-items: center;
    padding: 0px 5px;
}
.price_marking{
    border: 1px solid blue;
    background-color: rgba(8, 8, 109, 0.994);
    color: white;
    width: 50px;
    height: 13px;
}
.price_marking p{
    font-size: 0.6rem;
    margin: 1px 2px ;
}
.price_icon{
    position: sticky;
    left: 100%;
}
#options{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(200, 200, 200);
    margin-top: 25px;
    width: 110px;
    height: 17px;
    font-size: 0.6rem;
    text-align: center;
    position: sticky;
    left: 76%;
}
#options p{
    margin-top: 2.5px;
}

/* Web banner */
#banner{
    position: relative;
    z-index: -1;
}
#banner_img{
    background: url(web-banner.jpg) no-repeat center center/cover;
    height: 350px;
    position: relative;
    top: 50px;
 }

#outter_banner{
    /* border: 2px solid black; */
    background-color: rgb(5, 5, 97);
    display: flex;
    height: 400px;
    width: 370px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -8%;
    left: 100px;
}
#inner_banner{
    /* border: 2px solid black; */
    background-color: rgb(11, 11, 159);
    height: 370px;
    width: 350px;
    text-align: center;
    color: white;
}
#inner_head_para1{
    font-size: 1rem;
    margin: 0%;
    margin-top: 10%;
}
#inner_head_para2{
    font-size: 1.7rem;
    margin: 0%;
    margin-top: 3%;
}
#inner_points{
    text-align: left;
    margin-left: 40px;
}
#inner_points p{
    font-size: 0.8rem;
    margin-top: 23px;
}
/* banner button  */
#button{
    /* border: 1px solid wheat; */
    background-color: rgb(1, 1, 73);
    margin: 0px 40px;
    height: 45px;        
}
#button p{
    padding-top: 14px;
}

/* about */
#info{
    /* border: 2px solid black; */
    background-color: rgb(225, 225, 225);
    height: 270px;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
}
.about{
    border: 2px solid green;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 8px -1px black;
    height: 110px;
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;  
    margin: 0px 50px;  
}
.about img{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 100%;
    margin: 5px;
    width: 50px;
    height: 50px;
}
.about p{
    /* border: 1px solid blueviolet; */
    font-size: 0.8rem;
}

/* footer  */
footer{
    /* border: 2px solid red; */
    background-color: rgb(0, 0, 67);
    margin-top: 40px;
    height: 338px;
    background: url(fotter_bg.jpg) no-repeat center center/cover;
}
#outter_fotter{
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(3 ,150px);
    grid-gap: 2rem;
    justify-content: center;
    padding-bottom: 30px;
    margin-top: 53px;
}
.fotter_content{
    /* border: 2px solid yellow; */
    width: 130px;
    color:  white;
    margin-left: 100px;
}
#fotter_bar{
    border-top: 1.5px solid rgb(124, 124, 124) ;
    display: flex;
    margin-top: 25px;
}
#fotter_bar_1{
    color: white;
    margin-left: 300px;
    margin-top: 20px;
}
#fotter_bar_2{
    margin-left: 140px;
    margin-top: 20px;
}
#fotter_bar_2 ul{
    display: flex; 
}
#fotter_bar_2 ul li{
    list-style: none;
}
#fotter_bar_2 ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    padding-left: 15px;
}
#fotter_bar_2 ul li a:hover{
    color: antiquewhite;
    text-decoration: underline;
}
/* footer utility class for - h4, p  */
.fotter_content h4{
    font-size: 1.2rem;
    padding-top: 4px;
    text-align: center;
    margin-top: 30px;
}
.fotter_content p{
    font-size: 1rem;
    padding-top: 10px;
}